{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index Page{% endblock %}

    {% block body_block %}
        {% if categories_mostlikes %}
            </br><h3> Most liked categories</h3></br>
            <ul>
                {% for category in categories_mostlikes %}
                <!-- Following line changed to add an HTML hyperlink, display name and link -->
                {#<li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>#}
                <!-- Use relative path, pass the url template tag the name of the url/view and the slug -->
                {% url 'rango:category' category.slug as the_url%}
                <li><a href="{{ the_url }}">{{ category.name }}</a></li>
                
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        
        {% if categories_mostviews %}
            </br><h3> Most viewed categories</h3></br>
            <ul>
                {% for category in categories_mostviews %}
                {% url 'rango:category' category.slug as the_url%}
                <li><a href="{{ the_url }}">{{ category.name }}</a></li>
                
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <img src="{% static "images/test_img.jpg" %}" alt="Picture of Yuka" /> <!-- New line -->
    {% endblock %}